.Rproj.user
.Rhistory
.Ruserdata
*.Rproj
Gemfile.lock
.sass-cache/
_config.yml
index.md
_data/
_posts/
pages/
images/
assets/
jekyll_evento/README.md
jekyll_evento/about.md
jekyll_evento/create.md
jekyll_evento/screenshot.png
jekyll_evento/screenshot2.png
jekyll_forty/CONTRIBUTING.md
jekyll_forty/LICENSE.md
jekyll_forty/README.md
jekyll_forty/all_posts.md
jekyll_forty/elements.md
jekyll_forty/generic.md
jekyll_forty/landing.md

