.Rproj.user
.Rhistory
.Ruserdata
*.Rproj

Gemfile.lock
.sass-cache/
_config.yml

jekyll_forty/_posts/
jekyll_forty/assets/images/
jekyll_forty/index.md

jekyll_documentation/_data/
jekyll_documentation/_posts/
jekyll_documentation/images/
jekyll_documentation/index.md
jekyll_documentation/pages/

jekyll_evento/README.md
jekyll_evento/_data/
jekyll_evento/_posts/
jekyll_evento/about.md
jekyll_evento/create.md
jekyll_evento/screenshot.png
jekyll_evento/screenshot2.png

jekyll_so-simple/_data/
jekyll_so-simple/_posts/
jekyll_so-simple/about/
jekyll_so-simple/articles/
jekyll_so-simple/blog/
jekyll_so-simple/images/
jekyll_so-simple/search/
jekyll_so-simple/tags/
jekyll_so-simple/theme-setup/
